@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>

</div>
<hr />
<h3>@ViewBag.RoleMessage</h3>
<div style="background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fimagesvc.meredithcorp.io%2Fv3%2Fmm%2Fimage%3Furl%3Dhttps%253A%252F%252Fimg1.cookinglight.timeinc.net%252Fsites%252Fdefault%252Ffiles%252Fstyles%252Fmedium_2x%252Fpublic%252F1542062283%252Fchocolate-and-cream-layer-cake-1812-cover.jpg%253Fitok%253DrEWL7AIN&imgrefurl=https%3A%2F%2Fwww.cookinglight.com%2Frecipes%2Fchocolate-and-cream-layer-cake&tbnid=Srgz7QDxu3XD0M&vet=12ahUKEwjujdbuofvwAhWasksFHSlcA44QMygAegUIARDyAQ..i&docid=LS73GdQoPy0wMM&w=1200&h=900&q=cakes&ved=2ahUKEwjujdbuofvwAhWasksFHSlcA44QMygAegUIARDyAQ');"></div>